<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <div id="app">
    <p>{{message}}</p>
    <textarea name="" id="" cols="30" rows="10">{{message}}</textarea>
    <textarea name="" id="" cols="30" rows="10" v-model="message">{{message}}</textarea>
    <input type="text" v-model="message" value="hogehoge">

    <br>

    <input type="checkbox" id="checkbox" v-model="checked">
    <label for="checkbox">{{checked}}</label>

    <br>

    <input type="checkbox" id="Red" value="red" v-model="colors">
    <label for="red">red</label>
    <input type="checkbox" id="green" value="green" v-model="colors">
    <label for="green">green</label>
    <input type="checkbox" id="blue" value="blue" v-model="colors">
    <label for="blue">blue</label>

    <br>
    <input type="radio" id="red2" value="Red" v-model="color">
    <label for="red2">Red</label>
    <input type="radio" id="green2" value="Green" v-model="color">
    <label for="green2">Green</label>
    <input type="radio" id="blue2" value="Blue" v-model="color">
    <label for="blue2">Blue</label>

    <br>
    <select name="" id="" v-model="selected">
      <option disable value="">Please select one</option>
      <option>Red</option>
      <option>Green</option>
      <option>Blue</option>
    </select>

    <select name="" id="" v-model="selectedList" multiple>
      <option disable value="">Please select one</option>
      <option>Red</option>
      <option>Green</option>
      <option>Blue</option>
    </select>

    <br>
    lazy
    <input type="text" v-model.lazy="lazyMessage">

    <br>
    trim
    <input type="text" v-model.trim="trimMessage">

    <br>
    number
    <input type="number" v-model.number="age">
    <p>
      {{age+10}}
    </p>

    <pre>{{$data}}</pre>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.11"></script>
  <script src="js/main.js"></script>
</body>

</html>
