<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div id="app">
        <p>
            <input type="text" v-model="keyword">
        </p>
        <p>
            {{message}}
        </p>

        <ul>
            <li v-for="item in items">
                <a :href="item.url" target="_blank">
                    {{item.title}}
                </a>
                <span>likes:{{item.likes_count}}</span>
            </li>
        </ul>

        <pre>{{$data}}</pre>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.11"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>
